 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="../css/info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="Pictures/logo.png" alt="">
            </auto;
        </div>
    </header>
         <div class="listsong">
            <center><h1> ข้อมูลส่วนตัว </h1></center>
            <h2> ID: <%= users.user_id %></h2>
            <h2> ชื่อผู้ใช้: <%= users.username %></h2>
            <h2> รหัสผ่าน: <%= users.password %></h2>
            <h2> อีเมล: <%= users.email %></h2>
            <a href="/">ย้อนกลับ</a>
        </div>
</body>
</html>