<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/playlist_detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="../Pictures/logo.png" alt="">
            </div>
            <nav>
                <%- include('nav.ejs', {Role: Role, User: User}) -%>
            </nav>
        </div>
    </header>
    <center>
        <div class="listsong">
            <h1> เพลงในเพลย์ลิส </h1>
            <% for (let i = 0; i < musics.length; i++) { %>
                <a href="/music_detail/<%= musics[i].id %>"> <button> <img src="../Pictures/<%= musics[i].musicImg %>" style="width: 100px; height: 100px;"> </button> </a>
            <% } %>
        </div>
    </center>
</body>
</html>