<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>สมัครสมาชิก</title>
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="Pictures/logo.png" alt="">
            </div>
            
        </div>
    </header>
    <center>
        <div class="register"><h1>สมัครเข้าสู่ระบบ</h1></div>
        <div class="user"> <br>
            <form action="/register2" method="post">
                <input type="text" name="username" placeholder="ชื่อผู้ใช้" required/> <br>
                <input type="password" name="password" placeholder="รหัสผ่าน" required/> <br>
                <input type="text" name="email" placeholder="อีเมล์" required/> <br>
                <input type="text" name="age" placeholder="อายุ" required/> <br> 
                <input type="text" name="phone_number" placeholder="เบอร์โทรศัพท์" required/> <br> 
                <button type="submit">ยืนยัน</button>
            </form>
        </div>
    </center>
</body>
</html>
