body {
    font-family: "Noto Sans Thai", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    background-color: #353735;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Noto Sans Thai", sans-serif;
  }
  
  .listgenre, .listsong {
    margin-top: 20px;
  }
  
  h1 {
    font-family: "Noto Sans Thai", sans-serif;
    color: #333;
  }
  
  a {
    text-decoration: none;
  }
  
  button:hover {
    background-color: #1c1c1c;
  }
  
  .listsong {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
  }
  
  .review {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .cm {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-bottom: 20px;
  }
  
  .comment {
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    word-wrap: break-word; 
  }
  
  /* Style for playlist buttons */
  .listgenre button {
    font-family: "Noto Sans Thai", sans-serif;
    background-color: #7b409a;
  }
  
  .listgenre button:hover {
    font-family: "Noto Sans Thai", sans-serif;
    background-color: #552c6b;
  }

  .listsong img {
    width: 150px;
    height: 150px;
    object-fit: cover; 
  }

  .listsong .add {
    background-color: hsl(102, 31%, 39%);
  }
  
  .listsong .add:hover {
    background-color: hsl(102, 35%, 26%);
  }

  .listsong .pl {
    background-color: #405d9a;
  }
  
  .listsong .pl:hover {
    background-color: #2e426e;
  }
  
  .playlist button {
    background-color: hsl(102, 31%, 39%);
  }
  
  .playlist button:hover {
    background-color: hsl(102, 35%, 26%);
  }
  
  
  /* Align menu to the right */
  nav {
    margin-left: auto;
    width: 80%;
  }
  
  
  input {
    font-family: "Noto Sans Thai", sans-serif;
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Thai", sans-serif;
  }
  
  header {
    background-color: #7b409a; /* Set your desired background color */
    color: #fff; /* Set text color */
    padding: 10px 0;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-buttons {
    display: flex;
    align-items: center;
  }
  
  .nav-buttons button {
    margin: 5px;
    width: 140px;
  }
  
  .nav-buttons button:hover {
    background-color: #7b409a;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
    width: 100%;
    text-align: center;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #1c1c1c;
  }
  
  .dropdown .dropbtn:hover {
    background-color: #000000;
  }
  
  .head input[type='search'] {
    width: 100%;
    margin-right: 20px;
    margin-top: 15px;
  }
  
  
  